@import '../App.scss';
.footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: $boxShadow;
    div{
        font-family: $font;
        font-weight: $fontWeight;
        font-style: $fontstyle;
    }
}